body{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center
}

#image {
    margin-bottom: 1rem;
    margin-top: 1rem
}

.text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
