body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container {
    text-align: center;
}
#logo {

    margin-top: auto;
    font-size: 150px;
    color: red;
}
#companyName {
    font-size: 18px;
    color: black;
}

a{
    color: black;
}

h1 {
    text-align: center;
}

table {
    width: 50%;
    margin: 10 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

img {
    max-width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: #0077b5;
}

p{
    text-align: center;
}